<section id="interests">
    <div class="container">
        <h2><strong>{{'interests.title' | translate}}</strong></h2>
        <span class="bar-title mb-5"></span>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3>{{'interests.subTitle' | translate}}</h3>
                <p class="font-italic" [innerHTML]="'interests.description1' | translate"></p>
                <p class="font-italic" [innerHTML]="'interests.description2' | translate"></p>
                <a target="_blank" href="https://samchilderhose.github.io/portfolio/assets/other/vba_payroll_system.xlsm" download="vba_payroll_system.xlsm">        
                    <h4> <img src="assets/images/download.png" width="30"
                        alt="download" class="dlButton"><strong>{{'VBA Payroll System (Excel)' | translate}}</strong></h4> 
                </a>
                <a target="_blank" href="https://samchilderhose.github.io/portfolio/assets/other/directed_brokerage.pptx" download="directed_brokerage.pptx">  
                    <h4> <img src="assets/images/download.png" width="30"
                        alt="download" class="dlButton"><strong>{{'Directed Brokerage (Powerpoint)' | translate}}</strong></h4> 
                </a>
            </div>
    </div>
</section>