<section id="home" [ngStyle]="{backgroundImage:'url(assets/images/home-background.jpg)'}" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container aos-init aos-animate" data-aos="fade-in">
        <div *ngIf="mobile">
            <h1 id="title" class="mt-3 fade-in-title slide-in title">Sam <br>Childerhose</h1>
            <div class="typewriter mobile-description">
                <p>Web Development & <br>Data Analytics</p>
            </div>
        </div>
        
        <div *ngIf="!mobile">
            <h1 id="title" class="mt-3 fade-in-title slide-in title">Sam Childerhose</h1>
            <div class="typewriter">
                <p>Web Development & Data Analytics</p>
            </div>
        </div>
    </div>
</section>
